// Define the main carousel container
.carousel {
    --gap: 25px; // Define the gap between items

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);

    // Define the image container within the carousel
    .img-container {
        flex: 1;
        display: grid;
        place-items: center;
        overflow-x: hidden;
    }

    // Define the styles for the images within the carousel
    .imgs {
        box-sizing: border-box;
        margin: 0;
        padding: var(--gap);
        display: grid;
        gap: calc(var(--gap)*2 + 10px);
        width: 100%;
        --pMax: 750px;
        --max: calc(var(--pMax) - var(--gap)*2 - 10px);
        max-height: var(--pMax);
        $grid: repeat(var(--cols, 1), 100%);
        grid-template-columns: $grid;
        grid-template-rows: repeat(1, 1fr);
        place-items: center;    
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        list-style: none;
        isolation: isolate;

        // Define the scroll snap behavior for each image
        & > * {
            scroll-snap-align: center;
            scroll-snap-stop: always;
        }
    }

    // Define the number of columns and rows based on data attributes
    @for $i from 0 through 100 {
        &[data-columns="#{$i}"] {
            --cols: #{$i};
        }
        &[data-rows="#{$i}"] {
            --rows: #{$i};
        }
    }

    // Define the active index based on data attributes
    @for $i from 0 through 100 {
        &[active-index="#{$i}"] {
            --active: #{$i};
        }
    }

    // Define the styles for each image parent container
    & .imgs .img-parent {
        --time: 250ms;
        --shadow-size: var(--gap);
        --shadow-color: var(--orig-bg-color);  
        max-width: 100%;
        max-height: 100%;
        background-color: var(--orig-bg-color);
        box-shadow: var(--shadow-color, var(--orig-bg-color)) 0px 0px var(--shadow-size);
        border-radius: var(--gap);
        cursor: pointer;
        transition: var(--time) ease-in-out;
    }
    
    // Define the styles for the arrow buttons
    & > .arrow {
        height: 32px;
        aspect-ratio: 1;
        border-radius: 2px;

        & > img {
            max-height: 100%;
            max-width: 100%;
        }
        &:is(:focus, :active) {
            outline: solid black 2px;
        }
    }
  
    // Disable user selection for all elements within the carousel
    * {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}