@use '../variables.scss' as *;

// When a checkbox inside .img-parent is checked, clip the overflow of the html element
html:has(.img-parent > input[type="checkbox"]:checked) {
    overflow: hidden;
    overflow: clip;
    body {
        z-index: 1; // Create a new stacking context
    }
}

.img-parent {
    position: relative;
    overflow: hidden;
    // display: grid;
    height: fit-content;
    cursor: pointer;

    // Styles when the checkbox inside .img-parent is not checked
    &:not(:has(> input[type="checkbox"]:checked)) {
        * {
            max-height: var(--max, 100%);
            max-width: 100%;
        }
        // > .img-container {
        //     box-sizing: border-box;
        //     max-height: var(--max, 100%);
        //     max-width: 100%;
        // }
    }

    // Styles when the checkbox inside .img-parent is checked
    &:has(> input[type="checkbox"]:checked) {
        inset: 0;
        &::before {
            content: '';
            position: fixed;
            inset: 0;
            background-color: $bg-color; // Background overlay color
            opacity: 0.9; // Background overlay opacity
        }

        > .img-container {
            --pad: clamp(0.5rem, 1.5vw, 2rem);

            position: fixed;
            inset: 0;
            box-sizing: border-box;
            padding: var(--pad);
            margin: auto;
            border-radius: inherit;
            max-height: 100dvh;
            max-width: 100dvw;
            display: grid;
            z-index: 2; // Ensure image container is on top

            > img {
                max-height: calc(100dvh - var(--pad)*2);
                max-width: calc(100dvw - var(--pad)*2);
                // background-image: var(--bg);
                // background-repeat: no-repeat;
                // background-size: cover;
                // background-position: center;
                border-radius: inherit;
                // box-shadow: inherit;

            }
        }
    }

    // Hidden checkbox used for toggling the image view
    > input[type="checkbox"] {
        position: absolute;
        bottom: 100%;
        right: 100%;
        visibility: hidden;
        margin: 0;
        border: none;
        padding: 0;
        width: 0;
        height: 0;
        background-color: transparent;
    }

    // Default styles for the image container
    > .img-container {
        height: fit-content;
        width: fit-content;
        > img {
            width: auto;
            //     pointer-events: none;
        }
    }
}