---
/*--------======== NOT USING THIS PAGE ANYMORE, the "_" at the start of the file name asks Astro not to host it. ========-------- */

// Import global styles
import '../../styles/globals.scss'
// Import the Layout component
import Layout from '../../layouts/Layout.astro'
---
// Use the Layout component and set the page title to "Enroll | Website Beta"
<Layout title="Enroll | Website Beta">
  <!-- Main content area with a class of "enroll__beta" -->
  <main id="content" class="enroll__beta">
    <h1 style="width: fit-content;">Website Features Beta Program</h1>
    <button id="button">Enroll</button>
  </main>
  <!-- Inline script for handling beta enrollment functionality -->
  <script>
    var button = document.getElementById('button')
    var lStorName = 'isBeta'
    // Check if the user is already enrolled in the beta program
    if (!!localStorage.getItem(lStorName)) {
      button.textContent = 'UnEnroll'
    }
    // Add event listener to the button for enrollment/un-enrollment
    button.addEventListener('click', function() {
      if (!!localStorage.getItem(lStorName) === false) {
        localStorage.setItem(lStorName, true.toString())
        button.textContent = 'UnEnroll'
        alert(`Enrolled you in the beta program.`)
      }
      if (!!localStorage.getItem(lStorName)) {
        localStorage.removeItem(lStorName)
        button.textContent = 'Enroll'
        alert(`UnEnrolled you from the beta program.`)
      }
    })
  </script>
</Layout>