/*--------======== NOT USING THESE STYLES ANYMORE, the "_" at the start of the file name of the page that was using these asks Astro not to host it. ========-------- */

// Set body to full height and block display
body {
  height: 100%;
  display: block;
}
  
// Style iframe to cover the entire viewport
iframe {
  z-index: 1;
  border: none;
  height: 100%;
  width: 100%;
}

// Position welcome elements absolutely
.welcome, .welcome-bg, .welcome iframe {
  position: absolute;
  top: 0;
  left: 0;
}
  
// Style background overlay
.welcome-bg {
  z-index: 2;
  background-color: white;
  opacity: 50%;
  height: 100%;
  width: 100%;
}

// Style main welcome container
.welcome {
  z-index: 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
  
// Style inner welcome content
.welcome > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  box-shadow: 0px 0px 50px 50px var(--orig-bg-color);
  border-radius: 25px;
  padding: 25px;
  opacity: 200%;
  background-color: var(--orig-bg-color);
  color: white;
  max-width: 750px;
  max-height: 750px;
}
  
// Style top section header
.welcome section.top > h1 {
  font-weight: 400;
  text-align: center;
}
  
// Style middle section
.welcome section.middle {
  justify-content: left;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  flex: 1;
}
  
// Style middle section text
.welcome section.middle > .whymakethisclub {
  font-weight: 300;
  text-align: center;
}
  
// Style bottom section
.welcome section.bottom {
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}