---
/*--------======== NOT USING THIS PAGE ANYMORE, the "_" at the start of the file name asks Astro not to host it. ========-------- */

// Import the Hero component
import Hero from '../hero.astro'

// Define the HTML content as a string
var HTML = `
<style>
    /* Define styles for the hero section */
    .hero {
        padding: 0 10vw;

        height: 100%;
        width: calc(100% - 20vw);

        display: flex;
        justify-content: center;
        flex-direction: column;

        --bg-color: #6c78e5;
        background-image: url('/assets/header.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    
        // Define text shadow styles for headings
        & h1:not(#menu > h1):not(#whymakethisclub), & h2, & h3 {
            --shadow-color: #0a0a52;
            --shadow-size: 10px;
            text-shadow: var(--shadow-color, var(--orig-bg-color)) 0px 0px var(--shadow-size);
        }
    
        // Define styles for h1 elements
        & h1:not(#menu > h1):not(#whymakethisclub) {
            margin: 0;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 4.5rem;
            max-width: 12.89ch;
        }
        // Define styles for h2 elements
        & h2 {
            margin: 0;
            font-weight: 400;
            font-size: 2.4rem;
            max-width: 30.39ch;
        }
        // Define styles for h3 elements
        & h3 {
            margin: 0;
            font-weight: 400;
            font-size: 1.2rem;
            max-width: 56.59ch;
        }
    }
</style>
<main id="portal">
    // Define the main content of the portal
    <section class="hero" id="portal" style="min-height: 100px !important; display: flex; align-items: center;">
        <ul id="menu">
            <h1>Member Portal</h1>
        </ul>
    </section>
</main>`

// Encode the HTML content to base64
var encoded = btoa(HTML)
---
<!-- Output the encoded HTML content -->
{encoded}