---
import Layout from '../layouts/Layout.astro'
import Grid from '../components/grid.astro'

import Carousels from '../components/carousels.astro'
import WorkCarousel from '../components/carousels/workCarousel.astro'

import '../styles/photos.scss'
---
<Layout title="Member Work">
  <main id="content">
    <section class="photos" id="mwork">
      <Carousels>
        <section>
          <h1>Member Work</h1>
          <Grid>
            <WorkCarouselItems />
          </Grid>
        </section>
      </Carousels>
    </section>
  </main>
</Layout>