---
import '../styles/components/grid.scss'

var { min, max, gap } = Astro.props

---
<section class="grid" style={`--min: ${min || 'unset'}; --max: ${max || 'unset'}; --gap: ${gap || 'unset'};`}>
    <slot />
</section>